<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<style>
.col-centered{
    float: none;
    margin: 0 auto;
}
.row-bottom {
    position: absolute;
    left: 0;
    width: 1000px;
    height:1000px;
}

#main-content {
    position: relative;
    float: left;
    margin-top: 64px;
}

.bounded {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.heading {
    background-color: #f5f5f5;
}

.polaroid {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
</style>
<body>
    <div>
        <div class="col-md-offset-2 col-md-8 col-sm-8 ">
            <h1 class="heading">
                The ultimate Flicker Client
            </h1>
            <div class="form">
                      <form action="/search" method="get">
                          <input type="text" required="" placeholder="Tags..." value="" name="query" class="txt" >
                          <input type="submit" value="Search" name="submit" class="txt2">
                      </form>
                  </div>
        </div>

        <div id="main-content" class="col-md-offset-1 col-md-7 col-sm-7 ">
                <div class="container-fluid">
                 {% for picture in pictures %}
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="thumbnail">
                        <img src="https://farm{{ picture.farm }}.staticflickr.com/{{ picture.server }}/{{ picture.id }}_{{ picture.secret }}.jpg/" class="img-responsive" style="height:300px">
                            <div class="caption heading bounded">
                                <p class="bounded">{{ picture.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pagination">
                            <span class="step-links">
                                {% if pictures.has_previous %}
                                    <a href="/search/?query={{request.GET.query}}&submit=Search&page={{ pictures.previous_page_number }}">previous</a>
                                {% endif %}


                                <span class="current">
                                     {{ pictures.number }}    {{ pictures.paginator.num_pages }}
                                </span>


                                {% if pictures.has_next %}
                                    <a href="/search/?query={{request.GET.query}}&submit=Search&page={{ pictures.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
        </div>
        <div id="main-content" class="col-md-3 col-sm-3 col-xs-3">
            <div class="panel panel-default clearfix polaroid">
                <div class="panel-heading heading">
                    <h3>Recent Searches</h3>
                </div>
                <ul class="list-group">

                {% if not recent_searches %}
                   <li class="list-group list-group-item">
                        No records at all...
                    </li>
                {% endif %}

                {% for recent_search in recent_searches %}

                    <li class="list-group list-group-item"><a href="/search/?query={{ recent_search.tag }}&submit=Search">{{ recent_search.tag }}</a></li>

                {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</body>

