<!DOCTYPE html>
<html lang="en">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<style>
.col-centered{
    float: none;
    margin: 0 auto;
}
.row-bottom {
    position: absolute;
    left: 0;
    width: 1000px;
    height:1000px;
}
</style>
<body>
    <div class="container">

        {% for recent_search in recent_searches %}

            <p>{{ recent_search.tag }}</p>

        {% endfor %}

    </div>

    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered">
          <div class="form_main">
              <h1 class="heading">The ultimate Flicker Client</h1>
              <div class="form">
                  <form action="/search" method="get">
                      <input type="text" required="" placeholder="Tags..." value="" name="query" class="txt" >
                      <input type="submit" value="Search" name="submit" class="txt2">
                  </form>
              </div>
          </div>
      </div>
    </div>
    </div>

     <div class="container">
         <div class="row-bottom">

                {% for result in results.photos.photo %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                        <img src="https://farm{{ result.farm }}.staticflickr.com/{{ result.server }}/{{ result.id }}_{{ result.secret }}.jpg/" class="img-responsive" style="height:300px">
                            <div class="caption">
                                <p>{{ result.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

         </div>
     </div>
    </section>
</body>

